.dashboard__contact-title {
	font-size: 30px;
}

.dashboard__contact-content {
	background-color: #E8E8E8;
	margin-right: 0px;
	padding: 40px;
}

.dashboard__contact-content p{
	margin-bottom: 20px;
	font-size: 20px;
}

.dashboard__contact-content-demo {
	width: 200px;
	height: 200px;
	background-image: url("./assets/images/src/profile/minh.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.dashboard__contact-content-section {
	background-color: #FEFEFE;
	font-size: 18px;
	margin-top: 40px;
}

.dashboard__contact-content-sectionC {
	background-color: #FEFEFE;
	margin-top: 2px;
	font-size: 18px;
}