<div class="dashboard__login" ng-controller='LoginController'>
  <h1 class="text-center">Login</h1>
  <hr>
  <div>
    <div class="form-group">
      <input class="form-control" type="text" ng-model="username" placeholder="Username" autofocus>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" ng-model="password" placeholder="Password">
    </div>
    <div class="form-group">
      <button class="btn btn-success" ng-click="login()" ng-disabled="!valid()">Login</button>
    </div>
  </div>
  <div ng-if="error" class="login-error text-center">
    {{error}}
  </div>
</div>