<div ng-controller="RootController">
    <div class="dashboard__header">
        <img src="./assets/images/src/app/logo.png">
        <span>{{username}}</span>
        <span>{{today | date: "MM/dd/y"}}</span>
        <button ng-click="logout()" class="pull-right btn btn-default">Log out</button>
    </div>
    <div class="navi col-xs-2 dashboard__navi">
        <ul >
            <li ><a href="#/root/overview"> <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Overview</a></li>
            <li ><a href="#/root/work"> <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Work</a></li>
            <li ><a href="#/root/producer"> <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Producer</a></li>
            <li ><a href="#/root/contact"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Contact</a></li>
        </ul>
    </div>
    <div ui-view></div>
</div>